/*vue accueil*/
.contenue{
    background-image: url('../image/wedding.jpg');
    background-repeat: no-repeat;
    background-position: center;
<<<<<<< HEAD
}

.adwidth{
    width: 500px;
}
.adcontent{
    border: 2px solid #ea7b7f;
}
.adcentrer{
    text-align: center;
    margin-top: 10px;
    color: #ea7b7f;
}
.adconect{
    background-color: #49bad2;
    font-size: 30px;
}
.listbg{
    background-color: #ea7b7f;
    height: 3em;
}
.listimg{
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: 5px;
}
.listcontent{
    box-shadow: 1px 3px 5px 1px gray;
    width: 310px;
    height: 400px;
    margin-top: 5em;
    margin-left: 2em;
=======
    background-size: cover;
}
.trans{
  background-color:rgba(0, 0, 0, 0.3);
  min-height: 100%;

}

.entete{
    height: 5%;
}

.text-2,.text-1{
    text-align: center;
}


.text-2{
    font-weight: bold;
}
/*vue single*/
.ev-image{
    height: 400px;
}
.comment-title{
    border-bottom: 3px solid red;
}
.comment-block{
  border-left: 3px solid #49bad2;
  border-right: 3px solid #49bad2;
}
.comment{
    border-bottom: 3px solid #49bad2;
>>>>>>> origin/Evariste
}