/*vue accueil*/
.contenue{
    background-image: url('../image/wedding.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trans{
  background-color:rgba(0, 0, 0, 0.3);
  min-height: 100%;

}

.entete{
    height: 5%;
}

.text-2,.text-1{
    text-align: center;
}


.text-2{
    font-weight: bold;
}
/*vue single*/
.ev-image{
    height: 400px;
}
.comment-title{
    border-bottom: 3px solid red;
}
.comment-block{
  border-left: 3px solid #49bad2;
  border-right: 3px solid #49bad2;
}
.comment{
    border-bottom: 3px solid #49bad2;
}